{% extends 'base.html' %}
{% load static %}

{% block title %}
| Certificate
{% endblock title %}

{% block style %}

{% endblock style %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        {% if data %}
    {% for d in data %}
    <div class="card text-white bg-light border">
        <div class="card-body">
            <img src="{{d.event.sertifikat.url}}" alt="" class="card-img">
        <div class="card-img-overlay">
            <div class="col d-flex justify-content-center">
                <div class="row text-secondary" style="margin-top:40vh;font-size:50px;">
                    {{d.participant.nama}}
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row text-success" style="margin-top:10vh;font-size:50px;">
                    {{d.event.nama_event}}
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row text-dark" style="margin-top:22vh;font-size:1.15rem;text-transform:uppercase;">
                    Medan, {{d.event.tgl_acara|date:'d F Y'}}
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row text-dark" style="margin-top:14vh;font-size:1rem;text-transform:uppercase;">
                    {{d.event.narasumber}}
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="row text-dark" style="font-size:0.75rem;text-transform:uppercase;">
                    Deputi Direktur Wilayah
                </div>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    {% if messages %}
{% for msg in messages %}
{% if msg.tags == 'error' %}
swal({
    title:'Error',
    text:`{{msg}}`,
    icon:'error'
})
.then(() => {
    window.location = `{% url 'homepage' %}`
})
{% endif %}
{% endfor %}
{% endif %}
</script>
{% endblock scripts %}